[Unit]
Description=load daily news on ereader

[Service]
Type=oneshot
ExecStart=/usr/local/bin/load_news.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
