[Unit]
Description=load daily news on ereader
After=default.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=/usr/local/bin/load_news.py

[Install]
WantedBy=multi-user.target
