[Unit]
Description=mount ereader
ExecStopPost=eject /dev/disk/by-uuid/xxx

[Mount]
What=/dev/disk/by-uuid/xxx
Where=/mnt/ereader
Options=defaults
Type=vfat
TimeoutSec=10

[Install]
WantedBy=multi-user.target
